body {
  /* background:url("./images/bg-intro-desktop.png");
  background-size: cover; */
  align-items: center;
}
.container {
  background:url("./images/bg-intro-desktop.png");
  background-size: cover;
  display: flex;
  width: 80%;
  border: 1px solid blue;
  margin-left: 10%;
  height: 90vh;
  justify-content: space-between;
}


.left-container {
  width: 50%;
  height: 100%;
}

.right-container {
  width: 50%;
  height: 100%;
}

form {
  display: flex;
  flex-direction: column;
}