body {
  /* background:url("./images/bg-intro-desktop.png");
  background-size: cover; */
  /* align-items: center; */
  /* display: flex; */
}
.container {
  align-items: center;
  background:url("./images/bg-intro-desktop.png");
  background-size: cover;
  display: grid;
  border: 1px solid blue;
  height: 95vh;
  background-color:  hsl(0, 100%, 74%) ;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.right-container {
  display: flex;
  flex-direction: column;
}
